@media print {
    p{
        color:red;
    }
}
@media not print {
    p{
        color:green;
    }
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
}
.container{
    padding: 0;
    width: 100%;
    background-color: #d3ffdb;
}
.row{
    margin: 0 0;
}
th{
    font-size:2em;
    width: 100px;
}
td{
    font-size:2em;
}
.col-sm-3{
    background-color: pink;
    color:rebeccapurple;
    border:1px dashed black;
}